.HomeMessage-Image {
  max-height: 200px;
  max-width: 60%;
  position: absolute;
  bottom: 0;
  left: 20%;
}

#HomeMessage h1,
h2 {
  text-align: center;
}

#HomeMessage h1 {
  font-size: 5em;
}

#HomeMessage{
  font-family: "Comic Sans MS";
}

.hometitle{
  margin-top: 20px;
}

.homesubtitle{
  margin-top: 40px;
}