@media all and (min-width: 480px) {
  .ChangePassword {
    padding: 30px 0;
  }

  .ChangePassword form {
    margin: 0 auto;
    max-width: 60%;
  }
}

.changepasswordCard{
  font-family: "Comic Sans MS";
  position: absolute;
  top: 20%;
  left: 25%;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  border: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: rgb(13, 156, 56);
  transition: 0.3s;
  margin-top:20px;
  padding: 20px 0 20px 0;
  width: 50%;
}

.changepasswordButton{
  text-align: center;
}

.changepasswordHeader{
  margin-top: 10px;
  text-align: center;
  color:rgb(13, 156, 56);
}

.btn-primary.cpbutton{
  background-color: rgb(14, 180, 64);
  border-color: rgb(14, 180, 64);
}

.btn-primary.cpbutton:hover{
  background-color: rgb(13, 156, 56);
  border-color: rgb(13, 156, 56);
  box-shadow: 0 3px 6px 0 #F0F0F0, 0 3px 6px 0 #F0F0F0;
}