#restaurants {
	font-family: "Comic Sans MS";
}

.jumbotron {
	width: 70%;
	margin-left: 200px;
	height: 220px;
	background-color: #cb9eff;
}

#restaurantTable {
	margin-left: 230px;
	margin-top: 20px;
	display: block;
}

.tableHeadings {
	margin-left: 216px;
	margin-top: 50px;
}

#footer {
	margin-bottom: 30px;
}

tr, th, td {
	border: 1px solid black;
	padding: 15px;
	text-align: center;
	width: 440px;
}

#tableHeader {
	background-color: #cb9eff;
}

#odd {
	background-color: #dbeeff;
}

#even {
	background-color: #a6ffa3;
}

.restexport{
	margin-Top: 20px;
	margin-left: 520px;
}

.btn-primary.restexportbutton{
	margin-Right: 10px;
	background-color: #17a2b8;
	/* color: black; */
	border-color: #17a2b8;
}

.btn-primary.restexportbutton:hover{
	margin-Right: 10px;
	background-color: #0f8ea1;
	border-color: #0f8ea1;
	box-shadow: 0 3px 6px 0 #D0D0D0, 0 3px 6px 0 #D0D0D0;
}

.restupload{
	margin-left: 520px;
}

.btn-primary.restuploadbutton{
	margin-Right: 10px;
	background-color: #17a2b8;
	border-color: #17a2b8;
}

.btn-primary.restuploadbutton:hover{
	margin-Right: 10px;
	background-color:#0f8ea1;
	border-color:#0f8ea1;
	box-shadow: 0 3px 6px 0 #D0D0D0, 0 3px 6px 0 #D0D0D0;
}

.restchoosefile{
	font-family: "Comic Sans MS";
	border: solid;
	border-width: 2px;
	border-color: #17a2b8;
	border-radius: 5px;
	margin-top: 5px;
}

.restchoosefile:hover{
	border-color: #0f8ea1;
	cursor: pointer;
	box-shadow: 0 3px 6px 0 #D0D0D0, 0 3px 6px 0 #D0D0D0;
}